body {
    font-family : Arial;
}

body, h1, p {
    margin      : 0;
    text-align  : center;
}

h1 {
    font-weight : lighter;
    font-size   : 1.4em;
    line-height : 2em;
}

section {
    border      : 2px solid silver;
    max-width   : 400px;
    margin      : 20px auto;
    padding     : 10px;
    background-color: silver;
}