body {
    font-family : Arial;
    text-align: center;
}

.center{
    display: flex;
    justify-content: center;
}

.flexbox{
    display: flex;
    flex-direction: column;
}

h1 {
    font-weight : lighter;
    font-size   : 1.4em;
    line-height : 2em;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

section {
    border      : 2px solid silver;
    max-width   : 400px;
    margin      : 20px auto;
    padding     : 10px;
    background-color: silver;
}